.imagine{
    background-image: url("bg.jpg");
    width: 100vw;
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.to-do-box{
    padding: 30px;
    margin: 0 auto;
    width: 500px;
    height: auto;
    background-color: #11101D;
    border-radius: 10px;
    color: white;

}


.delete-button{
    position: absolute;
    top : 5px;
    right: 10px;
    width : 24px;
    cursor: pointer;

}
.long{
    padding-left : 40px;
    padding-top: 10px;
    position: relative;
    background-color: #1A1933;
    width : auto;
    height : 37px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;

}
.long::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.long.line-over-text::before {
    background-color: #f19595;
}
.addBtn{
    padding: 9px;
    width: 36px;
    height: 36px;
    background: #f19595;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin-left: 46px;
    color: white;
    border: 0px;
  box-shadow: #f58989 0 0 10px;
    margin-bottom: 13px;

}
.inputfield button.active {
     opacity: 1;
     pointer-events: auto;  
}

.input-text{
    background-color: #11101D;
    color: white;
    border: 0;
    border-bottom:  solid #4C4B58 1px;
    padding: 5px;
    width: 350px;

}

.line-over-text{
    text-decoration: line-through;
    color: #4C4B58;
}
.task-box{
list-style: none;
}

